.main {
	text-align: center;
}
.main h1 {
	display: none;
}
.logo {
	font-family: arial, sans-serif;
	color: #444;
	font-size: 1.5em;
}
.logo #goggle_logo {
	position: relative;
	top: 90px;
	margin-top: -70px;
}
.logo span {
	padding-bottom: 100px;
}

.query {
	margin-top: 90px;
}

/* Wouldn't it be nice if we could make a centered elastic
   layout without using a table? Le sigh. */
table {
	margin: auto;
}

table td {
	text-align: right;
}

.prompt {
	clear: both;
}

.prompt label {
	width: 8em;
	display: block;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

.prompt input {
	display: block;
}

.infobox {
	background: url("box.png") no-repeat;
	width: 375px;
	height: 90px;
	margin: auto;
	margin-top: 3em;
	padding-top: 1.2em;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-size: 1.15em;
}

.sponsored_by {
	text-indent: -9999px;
	background: url("sponsored_by.png") #FFF no-repeat;
	width: 93px;
	height: 28px;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.ads a {
	margin-left: 1em;
}

.ads .sponsored_by {
	display: block;
}

.ads a img {
	border: 1px solid #AAA;
	height: 140px;
	width: 88px;
}
.ads a:hover img {
	border: 1px solid #888;
}
