<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Let me goggle that for you</title>
		  <link href="goggle.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div class="main">
			<div class="logo">
				<span>let me</span>
				<img id="goggle_logo" src="logo_modified.gif" alt="google logo" >
				<span>that for you</span>
			</div>
		</div>
	</body>
</html>
